footer#page-footer
    .main-footer.py-4
        .container
            .row
                .col-md-3
                    h4 MyWebSite
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque suscipit molestias eligendi soluta sed facilis commodi maiores quae ad voluptates saepe voluptatem quos in obcaecati illo neque, at porro non.
                .col-md-3
                    h4 Menu
                    ul.nav.flex-column
                        li.nav-item
                            a(href='#').nav-link link
                        li.nav-item
                            a(href='#').nav-link link
                        li.nav-item
                            a(href='#').nav-link link
                        li.nav-item
                            a(href='#').nav-link link
                        li.nav-item
                            a(href='#').nav-link link
                .col-md-3
                    h4 Tytuł
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque suscipit molestias eligendi soluta sed facilis commodi maiores quae ad voluptates saepe voluptatem quos in obcaecati illo neque, at porro non.
                .col-md-3
                    h4 Tytuł
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque suscipit molestias eligendi soluta sed facilis commodi maiores quae ad voluptates saepe voluptatem quos in obcaecati illo neque, at porro non.
    .bottom-footer.py-1
        .container
            .row
                .col-md-6
                    .copyright Copyright &copy; 2020 | Made by Marcin Snoch
                .col-md-6
                        ul.nav.justify-content-end
                            li.nav-item
                                a(href='#').nav-link Mapa strony
                            li.nav-item
                                a(href='#').nav-link Polityka prywatności
                            li.nav-item
                                a(href='#').nav-link Kontakt

img(src="img/to-top.png", id="toTop", alt="Back to top")
script(src="plugins/jquery/jquery.min.js")
script(src="plugins/jquery-validation/jquery.validate.min.js")
script(src="plugins/popper.js/umd/popper.min.js")
script(src="plugins/bootstrap/js/bootstrap.min.js")
script(src="js/application.js")