footer#page-footer
    .container
        p Copyright &copy; 2020 | MSXDEV

img(src="img/to-top.png", id="toTop", alt="Back to top")
script(src="plugins/jquery/jquery.min.js")
script(src="plugins/jquery-validation/jquery.validate.min.js")
script(src="plugins/popper.js/umd/popper.min.js")
script(src="plugins/bootstrap/js/bootstrap.min.js")
script(src="js/application.js")